<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/head :: head"></head>

<body>
<nav th:replace="fragments/nav :: nav"></nav>
<main class="container mt-4">
    <h1>Delete Category</h1>
    <p>You are about to delete the following category.</p>

    <table class="table">
        <tr><th>Category Id:</th> <td th:text="${category.categoryId}"></td></tr>
        <tr><th>Category name:</th> <td th:text="${category.categoryName}"></td></tr>
        <tr><th>Description</th> <td th:text="${category.description}"></td></tr>
    </table>

    <form method="post">
        <input type="submit" class="btn btn-danger" value="Delete">
        <a href="/categories" class="btn btn-secondary">Cancel</a>
    </form>
</main>
</body>
</html>