<nav>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>

    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
            Reports
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="user">Report by User</a></li>
            <li><a class="dropdown-item" href="month">report by Month</a></li>
            <li><a class="dropdown-item" href="year">report by Year</a></li>
            <li><a class="dropdown-item" href="category">Report by Category</a></li>
        </ul>
    </div>
</nav>