<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/head :: head"></head>

<body>
<nav th:replace="fragments/nav :: nav"></nav>
<main class="container mt-4">
    <h1>Details</h1>

    <table class="table">
        <tr><th>Transaction Id:</th> <td th:text="${transaction.transactionId}"></td></tr>
        <tr><th>User Id:</th> <td th:text="${transaction.userId}"></td></tr>
        <tr><th>Category Id:</th> <td th:text="${transaction.categoryId}"></td></tr>
        <tr><th>Vendor Id:</th> <td th:text="${transaction.vendorId}"></td></tr>
        <tr><th>Transaction Date:</th> <td th:text="${transaction.transactionDate}"></td></tr>
        <tr><th>Amount:</th> <td th:text="${transaction.amount}"></td></tr>
        <tr><th>Notes:</th> <td th:text="${transaction.notes}"></td></tr>
    </table>
</main>
</body>
</html>