<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/head :: head"></head>

<body>
<nav th:replace="fragments/nav :: nav"></nav>
<main class="container mt-4">
    <h1>Users List</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>User Id</th>
            <th>User name</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${users}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.email}"></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>